# Exclude locally built dependencies when copying files into image.
# node_modules from the local system are added to the container by volume mount.
node_modules

# Exclude derived/reporting files that are not needed in the container.
coverage
*.log
*.tmp

# Exclude IDE support files
.vscode

# Exclude version control
.git
.gitignore

# Exclude non-operational files
docs
.DS_Store
._.*
*.yml
.dockerignore
.eslintcache
